{% extends "DashHead.html" %}
{%load static%}



{% block content %}
<!-- ======= Feedback Section ======= -->
<section id="appointment" class="appointment section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
    
    
    
      <h2>Feedback</h2>
      
    </div>
    
    <form  method="post" role="form" class="transparent-form" data-aos="fade-up" data-aos-delay="100">
      {% csrf_token %}
      {% if messages %}
    <div class="alert alert-info">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
      <div class="row">
        
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" value="{{ request.user.email }}" readonly autofocus>
        </div>
        
      </div>
     
      

      <div class="form-group mt-3">
        <textarea class="form-control" name="feedback" rows="5" placeholder="feedback"></textarea>
      </div>
      {% comment %} <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message"> Thank you!</div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      <br>
      <div class="text-center"><button type="submit">SUBMIT</button></div>
    </form>

  </div>
</section><!-- End Appointment Section -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</div>


{% endblock content %}

